<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <h3>Проекты</h3>
            <span flex></span>

            <md-button class="md-icon-button" aria-label="Favorite" ng-click="appCtrl.showQr($event)">
              <md-icon md-svg-icon="qr" style="color: green;"></md-icon>
            </md-button>
        </div>

    </md-toolbar>
<!-- <h1>Hello</h1> -->
<md-content id="content" class="carddemoBasicUsage" flex layout="column">
    <div layout="row" layout-wrap layout-fill flex-align="space-between center">
        <div flex="20" flex-xs="100" flex-sm="50" flex-md="33"
             ng-repeat="project in ctrl.projects" ng-include="'./assets/parts/projects/project-card.v2.html'">
        </div>
    </div>

</md-content>
</div>
