<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <h3>Проекты</h3>
            <span flex></span>

            <md-button class="md-icon-button" aria-label="Favorite" ng-click="appCtrl.showQr($event)">
              <md-icon md-svg-icon="qr" style="color: green;"></md-icon>
            </md-button>
        </div>

    </md-toolbar>
<!-- <h1>Hello</h1> -->
<md-content id="content" class="carddemoBasicUsage" flex layout="column">
    <div layout="row" layout-wrap layout-fill flex-align="space-between center">
        <div ng-repeat="a in ctrl.projects" flex="20" flex-xs="100" flex-sm="50" flex-md="33">
            <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{a.name}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                    <div class="md-media-xl card-media">
                        <img ng-src="{{a.schemeUrl[0].url}}" alt="" style="width: 100%; height: 100%; max-width:100%; max-height:100%;"/>
                    </div>
                  <md-card-actions layout="column">
                    <md-button class="md-icon-button" aria-label="Favorite"
                                ng-click="ctrl.changeVote(a)">
                      <md-icon md-svg-icon="{{ctrl.getFavoriteIcon(a)}}" style="color: red;"/>
                    </md-button>
                  </md-card-actions>
                </md-card-content>
            </md-card>
        </div>
    </div>

</md-content>
</div>
