<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <h3>Синергия ИТ 2016</h3>
    </md-toolbar>

    <md-content id="content" flex layout="column" layout-align="center center">
        <md-list>
            <md-list-item ng-click="location('/projects')">
                <md-icon md-svg-icon="projects" class="md-avatar-icon" ></md-icon>
                <p>
                    Projects
                </p>
            </md-list-item>
            <md-list-item ng-click="location('/votings')">
                <md-icon md-svg-icon="voting" class="md-avatar-icon" ></md-icon>
                <p>
                    Voting
                </p>
            </md-list-item>
        </md-list>
    </md-content>
</div>
